doctype html
html
	head
		meta(charset='UTF-8')
		title AdminLTE | Dashboard
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/css/ionicons.min.css', rel='stylesheet', type='text/css')
		link(href='/css/AdminLTE.css', rel='stylesheet', type='text/css')

	body.skin-blue
		header.header
			a.logo(href='/index.html')
				// Add the class icon to your logo image or logo icon to add the margining
				| AdminLTE
			// Header Navbar: style can be found in header.less
				| DK Dash
			nav.navbar.navbar-static-top(role='navigation')
				// Sidebar toggle button
				a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-custom-menu
					ul.nav.navbar-nav

		.wrapper.row-offcanvas.row-offcanvas-left
			// Left side column. contains the logo and sidebar
			aside.left-side.sidebar-offcanvas
				block sidebar

			// Right side column. Contains the navbar and content of the page
			aside.right-side
				block content

		block javascript
